### https://drive.google.com/file/d/1QIJX2tx2o8uPWcA3Fh8hDnfZaHyNWwnD/view

- Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [1]:
def is_symmetrical(num1):
    num2=[i for i in str(num1)]
    num2=num2[::-1]
    num2=int("".join(num2))
    print(num1==num2)

is_symmetrical(1234)
is_symmetrical(12321)

False
True

- Given a string of numbers separated by a comma and space, return the product of the numbers.

In [2]:
def multiply_nums(list1):
    list1=list1.split(",")
    mul1=1
    for i in list1:
        mul1=mul1*int(i)
    print(mul1)

multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0") 
multiply_nums("10, -2")

6
24
0
-20

- Create a function that squares every digit of a number.

In [3]:
def square_digits(num):
    list2=[]
    while num>0:
        sqr=num%10        
        num=num//10
        list2.append(str(sqr**2))
    
    list2=list2[::-1]
    list2=int("".join(list2))
    print(list2)
        
square_digits(9119) #➞ 811181
square_digits(2483) #➞ 416649
square_digits(3212) #➞ 9414

811181
416649
9414

- Create a function that sorts a list and removes all duplicate items from it.

In [4]:
def setify(str_3):
    testl=[]
    for i in str_3:
        if i not in testl:
            testl.append(i)
    print(testl)
    
setify([1, 3, 3, 5, 5]) #➞ [1, 3, 5]
setify([4, 4, 4, 4]) #➞ [4]
setify([5, 7, 8, 9, 10, 15]) #➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) #➞ [1, 2, 3]

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[3, 2, 1]

- Create a function that returns the mean of all digits.

In [5]:
def mean(num1):
    sum1=0
    flag=0
    while num1>0:
        sum1=(sum1+num1%10)
        num1=num1//10
        flag+=1
    print(int(sum1/flag))

mean(42) #➞ 3
mean(12345)# ➞ 3
mean(666) #➞ 6

3
3
6